.loanModal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(78, 78, 78, 0.5);
    min-width: 500px;
    max-height: 600px;
    backdrop-filter: blur(10px);
    padding: 10px 15px;
    border: 1px solid gray;
    box-shadow: 0 0 2px white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1001;
    overflow: auto;

    h2{
        margin-bottom: 20px !important;
        color: cyan;
    }
}

.loanDetails{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.loan-info-card{
    border: 1px solid gray;
    padding: 7px 10px;

    label{
        font-weight: bolder;
    }

    p{
        margin-left: 10px;
        color: rgb(177, 174, 174);
    }
}

.loan-modal-actions{
    display: flex;
    gap: 7px;
    align-self: flex-end;

    button{
        border: 0.8px solid gray;
        padding: 4px 7px;
        border-radius: 4px;
        cursor: pointer;
    }
}

.modal-close{
    position: absolute;
    top: 0;
    right: 10px;
    margin: 10px;
    cursor: pointer;
}